# ==========================
# Base de Datos
# ==========================
# PARA EL .ENV
DB_HOST=localhost
DB_USER=sistema
DB_PASSWORD=sistema331
DB_NAME=prog3_turnos

# ==========================
# JWT
# ==========================
JWT_SECRET=Prog3_Turnos_2026_Clinica_UNER_SistemaJWT_Secreto